.row{
    margin-left: 20px;
    color: white;
}
.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__poster{
    min-width: 200px;
    object-fit: contain;
    margin: 0.6rem;
    transition: transform 450ms;
    position: relative;
}

.row__poster> img{
    width: 100%;
}

.row__posterInfo{
    display: none;
}

.row__poster:hover .row__posterInfo{
    display: inline-flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.4rem;
    background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
    height: 2.5rem;
}

.tag{
    padding: 0.2rem;
    border-radius: 20px;
    border: 1px solid white;
    cursor: pointer;
}

.tag:hover{
    background-color: #ccc;
    color: #111;
    border: none;
}

.row__poster:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.5);
}

.row__posterAdd{
    height: 20px;
}

.row__posterLarge{
    max-height: 300px;
}

