.movie__container{
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.movie{
    width: 250px;
    background-color: #373b69;
    overflow: hidden;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.2);
    position: relative;
    transition: transform 450ms;
}

.movie:hover{
    transform: scale(1.05);
}

.movie__infoRight{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.movie__note{
    margin: 0.3rem;
    cursor: pointer;
}
.movie__note:hover{
    background-color: #e50914;
    color: white;
}

.movie__info{
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.movie__info h4{
    margin: 0;
}

.tag{
    background-color: #22254b;
    padding: 0.2rem;
    border-radius: 5px;
}
  
.tag.green{
    color: rgb(69, 223, 69);
}
.tag.orange{
    color: orange;
}
.tag.red{
    color: red;
}
