body{
    background-color: #111;
    height: fit-content;
}
.movie__container{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
}

.movie{
    width: 220px;
    background-color: #111;
    margin: 0.3rem;
    margin-bottom: 3rem;
    border-radius: 3px;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.2);
    position: relative;
    transition: transform 450ms;
    overflow: hidden;
    color: white;
}

.list__title{
    padding-top: 7rem;
    padding-left: 2rem;
    font-weight: 400;
}

.movie:hover{
    transform: scale(1.06);
}

.movie img{
    width: 100%;
    max-height: 120px;
    object-fit: cover;
}

.movie__note{
    margin: 0.3rem;
    cursor: pointer;
}

.movie__info{
    display: none;
    transition: transfrom 450ms;
}

.movie:hover .movie__info{
    display: flex;
    padding: 0.5rem;
    align-items:center;
    justify-content: space-between;
    transform: scale(1.05);
}


.tag{
    padding: 0.2rem;
    border-radius: 20px;
    border: 1px solid white;
}
  
.green{
    color: rgb(69, 223, 69);
}
.orange{
    color: orange;
}
.red{
    color: red;
}
