body{
    background-color: #111;
    height: fit-content;
}
.movie__container{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
}

.movie{
    width: 220px;
    background-color: #111;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 3rem;
    border-radius: 3px;
    position: relative;
    transition: transform 450ms;
    overflow: hidden;
    color: white;
}

.list__title{
    padding-top: 7rem;
    padding-left: 2rem;
    font-weight: 400;
}

.movie:hover{
    transform: scale(1.12);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.5);
}

.movie img{
    width: 100%;
    max-height: 120px;
    object-fit: cover;
}

.movie__note{
    margin: 0.3rem;
    cursor: pointer;
}

.movie__info{
    display: none;
}

.movie:hover .movie__info{
    display: flex;
    padding: 0.5rem;
    align-items:center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
    height: 2.5rem;
}

.backdrop{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.youtube__trailer{
    margin: 90px 10%;
}

.tag{
    padding: 0.2rem;
    border-radius: 20px;
    border: 1px solid white;
}
  
.green{
    color: rgb(69, 223, 69);
}
.orange{
    color: orange;
}
.red{
    color: red;
}

