.backdrop{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal{
    max-width: 50%;
    height: 90%;
    margin: 50px auto;
    box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
    background-color: #111;
    color: white;
    border-radius: 10px;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
}

.modal__clear{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    cursor: pointer;
}

.modal::-webkit-scrollbar{
    display: none !important;
}

.modal img{
  display: block;
  width: 100%;
}

.modal__movieInfo{
    padding: 1rem;
}

.modal__movieOverview{
    margin-top: 1rem;
}

@media (max-width: 600px) {
    .modal{
        max-width: 80%;
    }
}