.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    height: 30px;
    z-index: 1;
    align-items: center;

    /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__black{
    background-color: #111;
}

.nav__logo{
    width: 90px;
    object-fit: contain;
    margin-left: 1rem;
}
.nav__right{
    display: flex;
    margin-right: 30px;
    object-fit: contain;
    align-items: flex-end;
}

.nav__avatar, .MuiAvatar-root{
    margin-left: 10px;
}
 
.nav__logout{
    background-color: #e50914;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 17px;
    font-size: 1rem;
    font-weight: 400;
}
.nav__items{
    display: flex;
    flex: 1;
    margin-left: 2rem;
}
.nav__wishlist{
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 10px;
    font-size: 0.8rem;
    font-weight: 400;
    cursor: pointer;
}

.nav__linkActive > button{
    font-weight: 700;
}